#Interactive_Table {
    display:grid;
}
#Main_Elements{
    grid-template-columns: repeat(18, auto);
    grid-template-rows: repeat(7,auto);
}
#H-He_Gap {grid-column: 2 / span 16;}
#Be-B_Gap {grid-column: 3 / span 10;}
#Mg-Al_Gap {grid-column: 3 / span 10;}
#Lanthanide_Series {
    grid-template-columns: repeat(14, auto);
    grid-template-rows: auto;
}
#Actinide_Series {
    grid-template-columns: repeat(14, auto);
    grid-template-rows: auto;
}