.grid_container_main {
    display: grid;
    grid-template-columns: repeat(18, minmax(0,1fr));
    grid-template-rows: repeat(6, minmax(0, 300px));
}
.grid-container_series {
    display: grid;
    grid-template-columns: repeat(14, minmax(0,1fr));
    grid-template-rows: repeat(2, minmax(0, 300px));
}
.Row1_Gap {
    grid-column-start: 2;
    grid-column-end: 17;
}
.RowRow2_3_Gap {
    grid-column-start: 3;
    grid-column-end: 12;
}